<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-ajax-dischi</title>

    <!-- Link Ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>

    <!-- Link cdn Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

    <!-- Link foglio di stile -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="container">
                <img src="img/logo.png" alt="logo" />
            </div>
        </header>
        
        
        <select v-model="genereSelect" id="selettore">
            <option v-for="tipo in tipi" :value="tipo">{{ tipo }}</option>
        </select>
        
        
        <div class="cds-container container">
        
        
            <div class="cd" v-for="disco in dischi" v-if="genereSelect == 'All' ||genereSelect == disco.genre">
                <img :src="disco.poster" alt="disco.title">
        
                <h3 class="title">
                    {{disco.title}}
                </h3>
                <span class="author">
                    {{disco.author}}
                </span>
                <span class="year">
                    {{disco.years}}
                </span>
            </div>
        </div>
    </div>
    
    <script src="js/script.js"></script>
</body>

</html>